.sidebar{
    height: 100vh;
    width: 80px;
    background: #25293A;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    float: left;
}
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar ul li {
    padding: 17px 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: 11px;
}
.sidebar ul li:hover{
    background: #1E212E;
}
.sidebar ul li i{
    font-size: 25px;
    margin-bottom: 10px;
}
.sidebar ul .more i{
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bold;
}
.sidebar ul .more:hover, .sidebar ul .logo:hover{
    background: #25293A;
}
.active {
    background: #1E212E;
}
.active i {
    color: #73BD83;
}
.overflow-items{
    width: 300px;
    height: 400px;
    position: fixed;
    left: 70px;
    top: 40vh;
    background: #1E212E;
    padding: 10px;
    border-radius: 4px;
}
